* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 100px;
  background-color: aliceblue;
}

.shelf-one,
.shelf-two,
.shelf-three {
  position: relative;
}

.shelf-one {
  display: flex;
  top: -430px;
  gap: 5px;
  align-items: end;
  left: 20px;
}

.shelf-two {
  display: flex;
  align-items: flex-end;
  left: 20px;
  top: -400px;
  gap: 5px;
}

.shelf-three {
  display: flex;
  align-items: flex-end;
  left: 20px;
  top: -380px;
  gap: 5px;
}

.item {
  object-fit: contain;
}

.wine {
  /* position: absolute; */
}

.milk {
}

.honey {
}

.cheese {
}

.chicken {
}
.beef {
}
.chips {
}

.pineapple {
}
.banana {
}
.apple {
}
.salad {
}

.wrapper {
  position: relative;
}

.basket {
  position: absolute;
  top: 340px;
  left: -30px;
  /* right: 20px; */
  /* left: -px; */
}

.button-pay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  position: absolute;
  width: 174px;
  height: 56px;
  left: calc(50% - 174px / 2);
  top: 524px;
  background: #fce000;
  border: 1px solid #fce000;
  border-radius: 16px;
  font-family: "YS Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.005em;
  /* Theme/Default/Day/Text */
  color: #21201f;
  /* position: absolute; */
  margin-top: 50px;
  opacity: 0;
}

.button-pay-visible {
  opacity: 1;
}

.button-pay:hover {

}

.button-pay:active {

}
