.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 18.75rem;
  height: 37.5rem;
  position: relative;
  margin: 0 auto;
}

.wrapper {
  width: 13.25rem;
  margin: 1.875rem auto 0;
  height: 35.625rem;
}

.shelf-one,
.shelf-two,
.shelf-three {
  display: flex;
  align-items: end;
  position: relative;
}

.shelf-one {
  top: -19.375rem;
  left: -4.6875rem;
}

.wine {
  position: absolute;
  left: 6.25rem;
}

.milk {
  position: absolute;
  left: 8.75rem;
}

.honey {
  position: absolute;
  left: 11.25rem;
}

.cheese {
  position: absolute;
  left: 14.375rem;
}

.basket {
  position: relative;
  top: -43.4375rem;
  left: -1.875rem;
  z-index: 100;
}

.basket-firstState,
.basket-secondState,
.basket-thirdState {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #91919100;
  display: flex;
  align-items: end;
  position: relative;
  left: 2.5rem;
  z-index: 5;
}

.basket-firstState {
  top: -6.875rem;
  z-index: 5;
}

.basket-secondState {
  top: -19.375rem;
  z-index: 4;
}

.basket-thirdState {
  top: -31.875rem;
  z-index: 3;
}

.basket-firstState .wine,
.basket-firstState .milk,
.basket-firstState .honey,
.basket-firstState .cheese {
  display: block;
  position: static;
}

.shelf-two {
  top: -13.4375rem;
  left: -4.6875rem;
}

.beef {
  position: absolute;
  left: 5rem;
}

.chicken {
  position: absolute;
  left: 8.75rem;
}

.chips {
  position: absolute;
  left: 12.5rem;
}

.basket-secondState .beef,
.basket-secondState .chicken,
.basket-secondState .chips {
  display: block;
  position: static;
}

.shelf-three {
  top: -7.1875rem;
  left: -4.6875rem;
}

.pineapple {
  position: absolute;
  left: 5.3125rem;
}

.banana {
  position: absolute;
  left: 8.125rem;
}

.apple {
  position: absolute;
  left: 11.875rem;
}

.salad {
  position: absolute;
  left: 14.375rem;
}

.basket-thirdState .pineapple,
.basket-thirdState .banana,
.basket-thirdState .apple,
.basket-thirtState .salad {
  display: block;
  position: static;
}

.basket-firstState .product:nth-child(2) {
  transform: translatex(-10px);
}

.basket-firstState .product:nth-child(3) {
  transform: translatex(-20px);
}

.basket-firstState .product:nth-child(4) {
  transform: translatex(-30px);
}

.basket-secondState .product:nth-child(2) {
  transform: translatex(-10px);
}

.basket-secondState .product:nth-child(3) {
  transform: translatex(-20px);
}

.basket-secondState .product:nth-child(4) {
  transform: translatex(-30px);
}

.basket-thirdState .product:nth-child(2) {
  transform: translatex(-10px);
}

.basket-thirdState .product:nth-child(3) {
  transform: translatex(-20px);
}

.basket-thirdState .product:nth-child(4) {
  transform: translatex(-30px);
}

.btn-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.875rem;
  height: 3.5rem;
  background-color: #fce000;
  border: #fce000;
  border-radius: 1rem;
  font-family: YS Text, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.0625rem;
  letter-spacing: -0.5%;
  position: absolute;
  bottom: 3.125rem;
  left: 4.0625rem;
  z-index: 200;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 1s ease, opacity 1s ease-in-out;
  opacity: 0;
}

.btn-pay-visible {
  opacity: 1;
}

.btn-pay:hover {
  background-color: #e6c200;
  border-color: #e6c200;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.btn-pay:active {
  background-color: #d4b000;
  border-color: #d4b000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.pulsate {
  animation: pulsate 1s infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
